<app-header />
<main>
  <ul id="users">

    <!-- //!Error For loop must have a track Expression -->

    <!-- The track thing here is Angular internally wants to keep track of every item that is being rendered. -->
    @for (user of users; track user.id) {
      <li>
      <app-user
      [user]="user" (select)="onSelectUser($event)"
      />
      </li>
    }

    <!-- <li> -->
      <!-- <app-user 
      [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select)="onSelectUser($event)"/> -->

<!-- ! This is not dynamically set -->

    <!-- <li>
      <app-user 
        [user] = "users[0]"
        (select)="onSelectUser($event)"
        />
    </li>

    <li>
      <app-user 
        [user] = "users[1]"
        (select)="onSelectUser($event)"
        />
    </li>

    <li>
      <app-user 
        [user] = "users[2]"
        (select)="onSelectUser($event)"
        />
    </li>

    <li>
      <app-user 
        [user] = "users[3]"
        (select)="onSelectUser($event)"
        />
    </li> -->
  </ul>

  @if (selectedUser) {
    <app-task 
      [name]="selectedUser.name"
    />
  } @else {
    <p id="fallback">
      Select a User to see their tasks!
    </p>
  }


</main>

<!-- If you have a component that doesn't have anything between it's opening and closing tag which neither the header nor the user component have and we will learn how we could build Components that do accept content between their tags later.
 
But if we have components that don't have anything between their tags, we can simplify this code and simply write the self-closing Components like this "<app-user />"-->

<!-- $event: This variable is not just available when working with custom events! It can also be used on built-in events (like "click") to get hold of potentially emitted values -->

<!-- $event variable will then fold than data, the value that was emitted by the event that you're listening to -->